@media (max-width: 1024px) {
    .img-box,.about-img img {
        width: 350px;
        margin-top: 100px;
    }
    .home, .about{
        flex-direction: column;
        padding: 20px 5%;
        gap: 3em;
    }
    .home-content h3 {
        font-size: 36px;
    }

    .home-content h1 {
        font-size: 48px;
    }
    body{
        overflow-y:scroll ;
    }
    .about-content{
        padding-bottom: 160px;
    }
   
}
/* For small tablets and large phones */
@media (max-width: 768px) {
    .img-box img {
        width:300px;
    }
    .header {
        flex-direction: column;
        padding: 5px 5%;
    }
    .about-content .para{
        font-size: 15px;
    }
    .about-content h2, h3{
        text-align: center;
    }
    .navbar a {
        margin: 10px 0;
        font-size: 16px;
    }

    .home-content h3 {
        font-size: 32px;
    }

    .home-content h1 {
        font-size: 42px;
    }

    .btn-box {
        width: 100%;
        flex-direction: column;
        gap: 1em;
    }

    .btn-1, .btn-2 {
        width: 100%;
        text-align: center;
    }
    .about-content span{
        font-size: 42px;
    }
    .about-content p{
        font-size: 10px;
    }
    .skills{
        grid-template-columns: repeat(2,3fr);
    }
    .skills pre{
        padding-left: 10px;
    }
    .contact p{
        gap: 5rem;
    }
    .contact-me{
        padding-top: 30px;
    }
    body{
        overflow: auto;
    }
}
/* For small phones */
@media (max-width: 480px) {
    .img-box img {
        width: 300px;
    }
    .home-content h3 {
        font-size: 25px;
    }

    .home-content h1 {
        font-size: 30px;
    }

    .home-content p {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .skills{
        padding-bottom: 60px;
    }
    body{
        overflow-y:scroll ;
    }
    .photo-gallery{
        padding-bottom: 120px;
        grid-template-columns: repeat(1,6fr);
    }
}
@media(max-width: 375){
    body{
        overflow-y: scroll;
    }
    .about-img img{
       margin-left: 100px;
    }
    .contact-from{
        margin-bottom: 80px;
    }
    .contact {
        padding: 5px; /* Further adjust padding for very small screens */
    }
    .contact-form h2 {
        font-size: 20px; /* Smaller font size */
    }
    .contact-form form{
        padding-bottom: 120px;
    }
    .contact-form form .input-box input,
    .contact-form form textarea {
        font-size: 12px; /* Smaller font size */
        padding: 0.5em; /* Reduce padding further */
        margin: 0.5rem 0; /* Ensure margins are consistent */
    }
    .photo-gallery {
        padding-bottom: 500px;
    }

}
